<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.colabora.soluciones.convocatoriafeyac">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <!-- VERY IMPORTANT! Don't forget this permission, or in-app billing won't work. -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".ConvocatoriaFeyacApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Pyme Assistant"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".LauncherActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CotizacionesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NuevaCotizacionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerPDFActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>
        <provider
            android:name=".GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".TarjetasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClientesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FinanzasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RecursosHumanosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CrearEditarTarjetasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NominasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DiagnosticoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RealizarDiagnosticoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Modelos.VerPDFDiagActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TarjetasSeleccionarLetraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TarjetaDatosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VisualizarTarjetaActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ConceptosActivity" />
        <activity android:name=".SuscripcionesActivity" />
        <activity android:name=".web.DisenoWebActivity" />
        <activity android:name=".DatosEmpresaDiagnosticoActivity" />
        <activity android:name=".DiagnosticosMenuActivity" />
        <activity android:name=".DiagnosticoGeneralActivity"></activity>
    </application>

</manifest>